.form-group > .input-container > input.onhover-emphasized:hover {
    border-color: black;
}

.form-group > .onhover-emphasized {
    color: slategray;
}

.form-group > .onhover-emphasized:hover {
    color: black;
}